<%- include('../partials/header') %>

<section class="hero"></section>

<% if (user) { %>
<section class="content">
  <div class="container character-creation">
    <% if (characters) { %>
    <% characters.forEach(function(c) { %>
    <p><%= c.name %></p>
    <p><%= c.race %></p>
    <p><%= c.gender %></p>
    <a href="/users/<%= user._id %>/characters/<%= c._id %>">Detail</a>
    <% }); %>
    <% } else { %>
    <h5>No Characters yet</h5>
    <% } %>
    <a href="/users/<%= user._id %>/characters/new">Add a character</a>
  </div>
</section>
<% } else { %>
<h3>You need to Login</h3>
<% } %>

<%- include('../partials/footer') %>