<%- include('../partials/header') %>
<% if (user) { %>

<section class="btn-container">
  <div class="max-container">
    <div class="btn">
      <a href="/users/<%= user._id %>/characters/new">Add a new Character</a>
    </div>
  </div>
</section>

<section class="content alternative">
  <% characters.forEach(function(character) { %>
  <a href="/users/<%= user._id %>/characters/<%= character._id %>" class="container block max-container">
    <div>
      <div>
        <ul>
          <li>
            <h3 class="c-name"><%= character.name %></h3>
          </li>
          <li>
            <p class="race"><%= character.race %></p>
          </li>
          <li>
            <p class="class"><%= character.archetype %></p>
          </li>
        </ul>
        </span>
      </div>
    </div>
    <form class="delete-form" action="/characters/<%= character._id %>?_method=DELETE" method="POST">
      <button type="submit">
        <p class="delete">X</p>
      </button>
    </form>
  </a>
  <% }) %>
</section>
<% } else { %>
<section class="content alternative">
  <%- include('../partials/characters') %>
</section>
<% } %>

<%- include('../partials/footer') %>