<%- include('../partials/header') %>
<section class="hero"></section>
<% if (user) { %>
<section class="content">
  <div class="container character-creation">
    <% if (user.characters) { %>
    <div class="content-flex">
      <% user.characters.forEach(function(character, idx) { %>
      <ul>
        <li>
          <h3><%= character.name %></h3>
        </li>
        <li><%= character.race %></li>
        <li><%= character.archetype %></li>
        <li><%= character.gender %></li>
        <form class="delete-form" action="/characters/<%= idx %>?_method=DELETE" method="POST">
          <button type="submit">🗑</button>
        </form>
        <a href="/characters/<%= character._id %>">Detail</a>
      </ul>
      <% }) %>
    </div>
    <% } else { %>
    <h5>No Characters yet</h5>
    <% } %>
    <div class="btn btn-margin-bottom">
      <a href="/characters/new">Add a new Character</a>
    </div>
  </div>
</section>
<% } else { %>
<section>
  <h2>You need to login</h2>
</section>
<% } %>

<%- include('../partials/footer') %>