<%- include('../partials/header') %>

<section class="hero"></section>

<div class="container character-creation">
  <h2> test </h2>
  <%= character.name %>
  <%= character.race %>
  <%= character.archetype %>
  <%= character.gender %>
</div>

<%- include('../partials/footer') %>